#shopping {
  margin: 0 auto;
  max-width: 1420px;
  padding: 30px 0;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2:first-child {
      font-family: Montserrat Alternates;
      font-size: 96px;
      font-weight: 275;
      line-height: 117.02px;
      text-align: left;
    }
    h2:last-child {
      font-family: "Neolost";
      font-size: 96px;
      font-weight: 400;
      line-height: 115.2px;
      text-align: left;
    }
    span {
      font-family: "Neolost";
      font-size: 96px;
      font-weight: 400;
      line-height: 115.2px;
      text-align: left;
      color: #ff8a00;
    }
  }
  .formats-desc {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .div1 {
      grid-area: 1 / 1 / 3 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .div4 {
      grid-area: 1 / 3 / 3 / 4;
    }
    .div5 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .div6 {
      grid-area: 3 / 2 / 4 / 3;
    }
    .div7 {
      grid-area: 3 / 3 / 4 / 4;
    }
    .div8 {
      grid-area: 4 / 1 / 5 / 2;
    }
    .div9 {
      grid-area: 4 / 2 / 5 / 3;
    }
    .div10 {
      grid-area: 4 / 3 / 5 / 4;
    }
    p,
    li {
      padding: 5px;
      font-family: Montserrat Alternates;
      font-size: 24px;
      font-weight: 275;
      line-height: 39.01px;
      text-align: left;
    }
    li {
      list-style: disc;
    }
  }
  .accardion {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    h3 {
      font-family: Montserrat Alternates;
      font-size: 48px;
      font-weight: 275;
      line-height: 58.51px;
      text-align: center;
      color: #ef751d;
    }
    li,
    p {
      font-family: Montserrat Alternates;
      font-size: 36px;
      font-weight: 275;
      line-height: 43.88px;
      text-align: left;
    }
    .price {
      font-family: Montserrat Alternates;
      font-size: 36px;
      font-weight: 275;
      line-height: 43.88px;
      text-align: left;
      color: #ef751d;
    }
  }
  article {
    margin: 40px 0;
    font-family: Montserrat Alternates;
    font-size: 32px;
    font-weight: 275;
    line-height: 39.01px;
    text-align: left;
  }
  .contact {
    margin: 40px 0;
    padding: 40px;
    border: 1px solid #ef751d;
    color: #ef751d;

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: Montserrat Alternates;
    font-size: 48px;
    font-weight: 275;
    line-height: 58.51px;
  }
  .formats-tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  #shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .formats-desc {
      display: none !important;
    }
    .formats-tablet {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      P,
      li,
      ul {
        font-size: 25px;
        list-style-type: disc;
      }
      .div1-tablet {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2-tablet {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div3-tablet {
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        justify-content: center;
      }
      .div4-tablet {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div5-tablet {
        grid-area: 3 / 2 / 4 / 3;
      }
    }
    .header {
      h2:first-child {
        font-size: 50px;
        text-align: center;
      }
      h2:last-child {
        font-size: 50px;
        text-align: center;
      }
      span {
        font-size: 50px;
        text-align: center;
      }
    }
    article {
      padding: 20px;
      font-size: 20px !important;
    }
    .accardion {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95vw !important;
      p,
      li {
        font-size: 20px !important;
      }
      h3 {
        font-size: 25px !important;
      }
      img {
        width: 45px;
        height: 45px;
      }
    }
    .contact {
      width: 90%;
      span {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 480px) {
  #shopping {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    article{
      line-height: normal !important;
    }
    .formats-tablet {
      display: flex !important;
      justify-content: center !important;
      flex-direction: column !important;
      align-items:center;
    }
    .div5-tablet,
    .div3-tablet {
      display: none !important;
    }
    .header {
      h2:first-child {
        margin-bottom: 20px;
      }
      h2,
      span {
        line-height: 70px !important;
        max-width: 100% !important;
        font-size: 40px !important;
        word-wrap: break-word !important;
      }
    }
    .contact {
      width: 90vw !important;
      span {
        font-size: 18px;
      }
    }
    h3,
    p,
    li {
      line-height: normal !important;
      width: 100% !important;
      word-break: break-word;
      font-size: 20px !important;
    }
    img {
      width: 100%;
      margin: 0 auto;
    }
    .accardion {
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .contact{
      padding: 5px!important;
    }
  }
}
