#about {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1420px;
  .mobile-img {
    display: none;
  }
  .tablet-img {
    display: none;
  }
  p {
    margin-top: 45px;
    font-family: Montserrat Alternates;
    font-size: 36px;
    font-weight: 275;
    line-height: 43.88px;
    text-align: left;
    span {
      color: #ef751d;
    }
  }
  .row {
    display: flex;
    // align-items: center;
    &:first-child {
      padding: 10px;
      width: 100%;
      display: flex;
      gap: 40px;
      align-items: flex-start;
      .left {
        img {
          width: 440px;
          height: 619px;
          gap: 0px;
          border-radius: 200px 0px 0px 0px;
          opacity: 0px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        width: 100%;
        .top {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          img:first-child {
            width: 318px;
            height: 316px;
            left: 488px;
            gap: 0px;
            border-radius: 0px 0px 0px 200px;
            opacity: 0px;
          }
          img:last-child {
            width: 318px;
            height: 316px;
            left: 1098px;
            gap: 0px;
            border-radius: 200px 0px 0px 0px;
            opacity: 0px;
          }
        }
        .bottom {
          display: flex;
        }
      }
    }
    &:nth-child(2) {
      padding: 80px 0;
      display: flex;
      align-items: flex-end;
      .left {
        display: flex;
        flex-direction: column;
        .top {
          p {
            margin: 0px;
            width: 95%;
          }
          display: flex;
          align-items: first baseline;
        }
        .bottom {
          display: flex;
          gap: 20px;
          align-items: flex-end;
          margin-top: 20px;
        }
      }
    }
    &:last-child {
      padding: 40px;
      gap: 20px;
      p {
        width: 80%;
      }
      .left {
        img {
          width: 200px;
          height: 267px;
          top: 1294px;
          gap: 0px;
          border-radius: 20px 0px 0px 0px;
          opacity: 0px;
        }
      }
      .top {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        img:first-child {
          width: 562px;
          height: 506px;
          top: 1361px;
          left: 244px;
          gap: 0px;
          border-radius: 200px 0px 0px 0px;
          opacity: 0px;
        }
        img:last-child {
          width: 562px;
          height: 228px;
          top: 1639px;
          left: 854px;
          gap: 0px;
          border-radius: 0px 0px 200px 0px;
          opacity: 0px;
        }
      }
    }
  }
  #tablet-images {
    display: none;
  }
}

/* Tablet responsive */
@media (max-width: 768px) {
  #about {
    .row {
      padding: 0px !important;
    }
    p {
      font-size: 20px !important;
    }
    .tablet-img {
      display: flex !important;
    }
    .right {
      img {
        // display: none !important;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .row {
      .left {
        .top {
          padding: 20px !important;
          display: flex !important;
          justify-content: space-between !important ;
          // justify-content: center !important ;
          align-items: center !important;
          // gap: 20px;
          p {
            width: 40% !important;
          }
        }
      }
    }

    .about1-desc,
    .stars-desc,
    .desc-img {
      display: none !important;
    }
    .tablet-wrapper {
      padding: 0;
      display: flex !important;
      justify-content: center;
      flex-direction: column;
      #tablet-images {
        display: flex !important;
        align-items: center;
        gap: 10px;
      }
      p {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 480px) {
  #about {
    padding: 20px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .right .top,
    .tablet-img,
    img {
      display: none !important;
    }
    .mobile-img {
      display: flex !important;
      justify-content: center;
      align-items: center;
      img {
        width: 90vw !important;
        display: inline !important;
      }
    }
    .mobile-img-flex{
      display: flex;
      justify-content: center!important;
      align-items:center!important;
      gap: 5px!important;
      img{
        width: 100%!important;
      }
    }
    .row .left .top p {
      width: 100% !important;
    }
    .row {
      display: flex;
      justify-content: center;
      align-items: center !important;
      padding: 0px !important;
      gap: 0px !important;
    }
    p {
      width: 100% !important;
      font-size: 16px !important;
    }
  }
}
